// Layout
$mobile: 375px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1440px;

// Colors
$violet: hsl(263, 55%, 52%);
$dark_grayish_blue: hsl(217, 19%, 35%);
$dark_blackish_blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);$light_gray: hsl(0, 0%, 81%);
$light_grayish_blue: hsl(210, 46%, 95%);

// Font
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


// Initial Styles
html,
body {
  margin: 0;
}

*,
*::before,
*::after {
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

// Begin Styles
.grid-cards {
  display: grid;
  margin: 100px auto 0;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  max-height: 570px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}
.card {
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &-header {
    display: flex;
    .avatar {
      margin-right: 15px;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid white;
      border-radius: 50%;
    }
    .name {
      font-size: 16px;
      color: $white;
    }
    .description {
      font-size: 14px;
      color: rgba($white, 0.5);
    }
  }
  &-body {
    .title {
      margin: 20px 0;
      font-size: 20px;
      color: $white;
    }
  }
  &-footer {
    .bio {
      font-size: 14px;
      line-height: 1.3;
      color: rgba($white, 0.7);
    }
  }
  &:hover {
    transform: translateY(-20px);
  }
  &:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  &:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    .avatar {
      border-color: #9669de;
    }
  }
  &:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    .avatar {
      border-color: $light_gray;
    }
  }
}
.theme-violet {
  background-color: $violet;
  grid-column: 1 / span 2;
  background-image: url('../images/left-quote.svg');
  background-position: top right 80px;
  background-repeat: no-repeat;
  background-size: auto;
  .avatar {
    border-color: #9669de;
  }
}
.theme-grayish_blue {
  background-color: $dark_grayish_blue;
}
.theme-white {
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.3);
  background-color: $white;
  .name, .title {
    color: $dark_grayish_blue;
  }
  .description {
    color: rgba($dark_grayish_blue, 0.5);
  }
  .bio {
    color: rgba($dark_grayish_blue, 0.7);
  }
}

.theme-blackish_blue {
  background-color: $dark_blackish_blue;
}
.theme-white {
  .name {
    color: $dark_grayish_blue;
  }
}

.attribution {
  position: absolute;
  top: 30px;
  left: 50%;
  font-size: 11px;
  text-align: center;
  transform: translateX(-50%);
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (max-width: $laptop) {
  .grid-cards {
    max-width: 760px;
    grid-template-columns: repeat(3, 1fr);
  }
  .card:nth-child(5) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

@media only screen and (max-width: $tablet) {
  .grid-cards {
    max-width: 100%;
    padding: 0 20px;
    grid-template-columns: 1fr;
    .card {
      grid-column: auto;
      grid-row: auto;
    }
  }
  .card {
    &:hover {
      transform: none;
      box-shadow: 4px 4px 20px rgba(33, 33, 33, 0.7);
    }
  }
  .theme-violet {
    background-position: top right 20px;
    background-size: 100px 100px;
  }
}